lj_force_potential_matching

ReferenceData/

prepsystem/

mWAC_force_potential_matching

mW_force_potential_matching/

test/

# ignore .pyc file 

src/*.pyc

# ignore .so file 

src/*.so

# ignore run folders: 

run/*.log

run/out.e*

run/out.o*

run/*/

run/in.para

run/run_NelderMead

src/__pycache__/
