# ignore .pyc file 

*.pyc 


# ignore .so file 
*.so 
*.txt
# ignore build 
build/bdist.linux-x86_64/* 

# ignore distribution
dist/*
old/*

# ignore installation:  
Python_optimization_workflow.egg-info/ 

IO/__pycache__/*

objective/__pycache__/*

sampling/__pycache__/*

optimizer/__pycache__/* 

ReferenceData/ 

prepsystem/

